html {
    overflow: hidden;
    background-color: #000000;
}
.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
}
.health {
    position: absolute;
    margin-left: 1570px;
    width: 290px;
}
.inventory {
    position: absolute;
    width: 360px;
}
.healthbar {
    position: absolute;
    margin-left: 650px;
    margin-top: 850px;
}
.character {
    position: absolute;
    margin-left: 550px;
    margin-top: 670px;
    animation: charchao 7s linear forwards;
}

.boss {
    position: absolute;
    margin-top: 100px;
    animation: moverboss 4s linear forwards;

}
.boss2 {
    position: absolute;
    margin-top: 100px;
    animation: bossquieto 7s linear forwards;
}

.laser {
    position: absolute;
    transform: rotate(90deg);
    margin-top: 390px;
    margin-left: 390px;
    width: 450px;
    animation: laser 5s linear forwards;

}
.tumba {
    position: absolute;
    width: 50px;
    animation: tumbalol 6s linear forwards;
}
.dead {
    position: absolute;
    margin-left: 1200px;
    margin-top: 95px;
    width: 300px;
    animation: deadlol 5s linear forwards;
}

@keyframes deadlol {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    95% {
        opacity: 25;
    }
    97% {
        opacity: 80;
    }
    100% {
        opacity: 100;
    }
}


@keyframes tumbalol {
    0% {
        margin-top: 80px;
        margin-left: 575px;
        opacity: 0;
    }
    90% {
        margin-top: 800px;
        margin-left: 575px;
        opacity: 0;
    }
    95% {
        opacity: 25;
    }
    97% {
        opacity: 30;
    }
    100% {
        margin-top: 700px;
        margin-left: 575px;
        opacity: 100;
    }
}

@keyframes laser {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    90%{
        opacity: 100;
    }
    100% {
        opacity:0;
        
    }
}

@keyframes moverboss {
    0% {
        margin-left: 1910px;
    }
    50% {
        margin-left: 410px;
    }
    95% {
        opacity: 100;
    }
    100% {
        opacity: 0;
        margin-left: 410px
    }
}

@keyframes bossquieto {
    0% {
        margin-left: 410px;
        opacity: 0;
    }
    25% {
        margin-left: 410px;
        opacity: 0;
    }
    50% {
        margin-left: 410px;
        opacity: 0;
    }
    75% {
        margin-left: 410px;
        opacity: 100;
    }
    100% {
        margin-left: -410px;
    }
}

@keyframes boss2lol {
    0% {
        margin-left: 410px;
    }
    100% {
        margin-left: -800px;
    }
}

@keyframes charchao {
    100% {
        opacity: 0;
    }
}