body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #C589E8;
    color: #E3DAFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: larger;
}

form {
padding: 20px; ;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #963D5A;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

button:hover {
    background-color: #5dbb84;
}
.checkbox-container {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    margin-bottom: 10px;
}

.checkbox-container label {
    display: flex;
    align-items: center; /* Alinea verticalmente el texto y el checkbox */
}

.checkbox-container input {
    margin-left: 5px; /* Ajusta la distancia entre el texto y el checkbox */
}
.formulario-container {
    border: 1px solid #C589E8;
    background-color: #4C191B;
    border-radius: 10px;
    overflow: hidden;
}
